.about-company {
  @include desktop-container;
  @include flex-row;
  padding-top: 14px;
  margin-bottom: 96px;
  padding-left: 103px;
}

.about-company__img {
  @include empty-rule;
  margin-left: 10px;
  margin-top: 5px;
}

.about-company__wrapper {
  @include flex-column;
  align-items: start;
  margin-left: -10px;
}

.about-company__title {
  @include reset-space;
  @include roboto-condensed-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  margin-bottom: 22px;
}

.about-company__text {
  @include reset-space;
  margin-bottom: 20px;

  max-width: 984px;
}

.about-company__full-text {
  display: inline;
}

.about-company__hidden-text {
  display: none;
}

.about-company__btn {
  @include roboto-condensed-font;
  text-decoration: none;
  text-transform: uppercase;

  color: $blue;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  border-radius: 5px;
  border: 1px solid $blue;
  padding: 14px 50px;
  margin-top: 18px;
}

.about-company__btn:hover,
.about-company__btn:focus {
  background-color: $blue;
  color: $white;
}

@media (max-width: $tablet-width-only) {
  .about-company {
    @include tablet-container;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 75px;
  }

  .about-company__img {
    margin-top: -2px;
    margin-left: -8px;

    width: auto;
    height: 362px;
  }

  .about-company__wrapper {
    margin-left: -33px;
  }

  .about-company__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 24px;
  }

  .about-company__text {
    margin-bottom: 21px;
    margin-left: 2px;
  }

  .about-company__full-text {
    display: none;
  }

  .about-company__hidden-text {
    display: inline;
  }

  .about-company__btn {
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 49px;
    padding-right: 50px;

    margin-top: 20px;
    margin-left: 3px;
  }
}

@media (max-width: $mobile-width-only) {
  .about-company {
    @include empty-rule;
    margin-bottom: 65px;
  }

  .about-company__img {
    display: none;
  }

  .about-company__wrapper {
    @include empty-rule;
  }

  .about-company__title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 18px;
  }

  .about-company__text {
    @include empty-rule;
  }

  .about-company__btn {
    margin-top: 0;
  }
}
