.advantages {
  padding-top: 96px;
  margin-bottom: 76px;
}

.advantages__list {
  @include clear-list;
  @include desktop-container;
  @include flex-row;
  flex-wrap: wrap;

  padding-left: 128px;
}

.advantages__item {
  @include flex-column;

  background-color: $white;
  z-index: 2;

  border: 1px solid $border-grey;
  border-left: 3px solid $blue;
  width: 47%;
  max-width: 570px;
  min-height: 299px;

  margin: 15px;

  padding-left: 42px;
  padding-right: 42px;
  padding-top: 40px;
  padding-bottom: 49px;
}

.advantages__title {
  @include reset-space;
  @include roboto-condensed-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;

  // margin-bottom: 15px;
}

.advantages__icon-wrapper {
  min-width: 35px;
  height: 35px;

  margin-bottom: 20px;
}

.advantages__icon {
  fill: $blue;

  &[data-icon-name="detective"] {
    margin-top: 2px;
  }
}

.advantages__text {
  @include empty-rule;
}

.advantages__item:hover {
  border: 1px solid $blue;
  border-left: 3px solid $blue;
  background-color: $blue;
}

.advantages__item:hover .advantages__icon {
  fill: $white;
}

.advantages__item:hover .advantages__title,
.advantages__item:hover .advantages__text {
  color: $white;
}

@media (max-width: $tablet-width-only) {
  .advantages {
    margin-top: 0;
    margin-bottom: 28px;

    padding-top: 54px;
    padding-left: 25px;
  }

  .advantages__list {
    padding: 0;
    min-width: $tablet-width;
    width: auto;
  }

  .advantages__item {
    min-width: 345px;
    min-height: 232px;
    width: calc(50% - 45px);

    padding-left: 25px;
    padding-right: 21px;
    padding-top: 24px;
    padding-bottom: 12px;

    margin: 0;
    margin-bottom: 30px;
    margin-right: 30px;

    border-left: 2px solid $blue;
  }

  .advantages__title {
    margin-bottom: 10px;
  }

  .advantages__icon-wrapper {
    min-width: 32px;
    height: 32px;

    margin-bottom: 9px;
  }

  .advantages__icon {
    &[data-icon-name="hired"] {
      width: 32px;
      height: 32px;
    }

    &[data-icon-name="detective"] {
      width: 30px;
      height: 26px;

      margin-top: 4px;
    }

    &[data-icon-name="tag"] {
      width: 32px;
      height: 32px;

      margin-top: 1px;
    }
  }

  .advantages__text {
    margin: 0;
    margin-bottom: 5px;
  }

  .advantages__item:hover {
    border-left: 2px solid $blue;
  }
}

@media (max-width: $mobile-width-only) {
  .advantages {
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 37px;
  }

  .advantages__list {
    @include flex-column;
    margin: 0 15px;
    min-width: 290px;
  }

  .advantages__item {
    min-width: 290px;
    width: 100%;

    margin: 0;
    margin-bottom: 20px;

    padding-left: 25px;
    padding-right: 15px;
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .advantages__title {
    font-size: 20px;
    line-height: 28px;
  }

  .advantages__icon {
    @include empty-rule;
  }

  .advantages__text {
    min-width: 250px;
  }
}
