@media (max-width: $tablet-width-only) {}

@media (max-width: $mobile-width-only) {}

.main-screen {
  @include flex-row;
  background-color: $dark-grey;
  background-image:
    url("../../img/bg-triangle-main.svg"),
    url("../../img/bg-main-screen.png");
  background-size: cover, cover;
  background-position: center, center;
  margin-top: -90px;
  z-index: 1;
}


.main-screen {
  @include flex-row;
  background-color: $dark-grey;
  background-image:
    url("../../img/bg-main-screen.png"),
    url("../../img/bg-triangle-main.svg");
  background-size: cover, cover;
  background-position: center, center;
  margin-top: -90px;
  z-index: 1;
}
