.main-header {
  @include desktop-container;
  @include flex-row;
  align-items: center;
  background-color: transparent;
  margin-top: 33px;
  padding-right: 7px;
  z-index: 1;
}

.main-header__logo-wrapper {
  @include empty-rule;
}

.main-header__contacts-list {
  @include clear-list;
  @include flex-row;
  margin-left: auto;
  margin-right: 0;
}

.main-header__contacts-item {
  margin: 0;

  &[data-header-list-item="email"] {
    margin-right: 86px;
  }
}

.main-header__contacts-link {
  display: inline-flex;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 17.92px;

  &:hover,
  &:focus {
    color: $blue;

    .main-header__contacts-icon {
      fill: $white;
    }
  }
}

.main-header__contacts-icon {
  @include empty-rule;

  fill: $blue;

  &--email {
    margin-right: 20px;
  }

  &--tel {
    margin-right: 16px;
  }
}

.main-header__callback-btn {
  @include roboto-condensed-font;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;

  padding: 15px 28px;
  padding-bottom: 12px;
  margin-left: 50px;
  margin-top: -3px;

  @include active-states;
}


@media (max-width: $tablet-width-only) {
  .main-header {
    @include tablet-container;
    margin-top: 20px;
    margin-right: 8px;
  }

  .main-header__logo-wrapper {
    @include empty-rule;
  }

  .main-header__contacts-list {
    @include empty-rule;
  }

  .main-header__contacts-item {
    margin: 0;

    &[data-header-list-item="email"] {
      margin-right: 34px;
      margin-bottom: 4px;
    }
  }

  .main-header__contacts-link {
    @include empty-rule;
  }

  .main-header__contacts-icon {
    @include empty-rule;

    &--email {
      width: 25px;
      height: 18px;
      margin-right: 0;
    }

    &--tel {
      width: 24px;
      height: 24px;
      margin-right: 0;
      margin-top: -2px;
    }
  }

  .main-header__contacts-text {
    display: none;
  }

  .main-header__callback-btn {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header {
    @include mobile-space;
    margin-top: 20px;
  }

  .main-header__logo-wrapper {
    @include empty-rule;
  }

  .main-header__contacts-list {
    @include empty-rule;
  }

  .main-header__contacts-item {
    margin: 0;
  }

  .main-header__contacts-link {
    @include empty-rule;
  }

  .main-header__contacts-icon {
    @include empty-rule;

    &--email {
      margin-right: 23px;
    }

    &--tel {
      margin-right: 0;
    }
  }

  .main-header__contacts-text {
    display: none;
  }

  .main-header__callback-btn {
    display: none;
  }
}
