.main-screen {
  @include flex-row;
  background-color: $dark-grey;
  background-image:
    url("../../img/bg-triangle-main-desktop.svg"),
    url("../../img/index-bg-main-desktop@1x.png");
  background-size: auto, cover;
  background-position: 0% 0%, center;

  @media (min-resolution: $retina-dpi-2x), (min-resolution: $retina-dppx-2x) {
    background-image:
      url("../../img/bg-triangle-main-desktop.svg"),
      url("../../img/index-bg-main-desktop@2x.png");
  }

  @media (min-resolution: $retina-dpi-3x), (min-resolution: $retina-dppx-3x) {
    background-image:
      url("../../img/bg-triangle-main-desktop.svg"),
      url("../../img/index-bg-main-desktop@3x.png");
  }

  margin-top: -90px;
  z-index: 1;
}

.main-screen__inner-wrapper {
  @include desktop-container;
  @include flex-row;
  padding-top: 158px;
  margin-top: 100px;
  margin-bottom: 107px;
}

.main-screen__text-wrapper {
  @include flex-column;
  align-items: start;
  margin-bottom: 92px;
  margin-top: calc(232px - 176px);
}

.main-screen__text-wrapper h2 {
  @include reset-space;
  @include roboto-condensed-font;
  color: $white;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  letter-spacing: 0.07em;

  min-width: 718px;

  margin-bottom: 28px;
}

.main-screen__text-wrapper p {
  @include reset-space;
  font-size: 22px;
  line-height: 34px;
  color: $white;

  max-width: 683px;

  margin-left: calc(66px + 28px);
  margin-bottom: 44px;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 17px;
    left: -93px;

    width: 66px;
    height: 2px;

    background-color: $white;
  }
}

.main-screen__img-wrapper {
  margin-bottom: 108px;
  position: relative;
}

.main-screen__img-wrapper img {
  max-width: 705px;
  position: absolute;
  top: 0;
  left: 9px;
  z-index: 1;
}

.main-screen__main-btn {
  @include roboto-condensed-font;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  background-color: $blue;
  border-radius: 5px;
  padding: 18px 47px;

  padding-top: 17px;
  padding-bottom: 19px;

  text-decoration: none;

  margin-left: 94px;
  margin-bottom: 59px;
  align-self: start;

  &:hover,
  &:focus {
    color: $blue;
    background-color: $white;
  }
}

.main-screen__main-btn span:nth-child(2n) {
  display: none;
}

.main-screen__main-btn span:nth-child(2n-1) {
  display: inline-block;
  vertical-align: middle;
}

.main-screen__scroll-btn {
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg) translateX(-73px);

  text-decoration: none;
  align-self: start;
  margin-left: -38px;

  &:hover,
  &:focus {
    color: $blue;
  }
}

@media (max-width: $tablet-width-only) {
  .main-screen {
    background-image:
      url("../../img/bg-triangle-main-tablet.svg"),
      url("../../img/index-bg-main-desktop@1x.png");
    background-position:
      top 93px right -17px,
      center;
    background-size: auto, cover;
    background-repeat: no-repeat;
  }

  .main-screen__inner-wrapper {
    width: auto;
    padding: 0;
    padding-top: 100px;
    margin-left: 88px;
    margin-top: 100px;
    margin-bottom: 162px;
  }

  .main-screen__text-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .main-screen__text-wrapper h2 {
    font-size: 60px;
    line-height: 70px;

    min-width: auto;
    max-width: 470px;
  }

  .main-screen__text-wrapper p {
    font-size: 18px;
    line-height: 28px;

    min-width: auto;
    max-width: 356px;

    margin-left: 51px;
    margin-bottom: 56px;

    &::before {
      top: 17px;
      left: -48px;

      width: 33px;
    }
  }

  .main-screen__img-wrapper img {
    max-width: 465px;
    margin-left: -38px;
    top: -75px;
    left: -10px;
  }

  .main-screen__main-btn {
    margin-left: 51px;
    margin-bottom: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  .main-screen__scroll-btn {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-screen {
    background-image:
      url("../../img/bg-triangle-main-mobile.svg"),
      url("../../img/index-bg-main-desktop@1x.png");
    background-position:
      top 29px right 0,
      center;
    background-size: auto, cover;
    background-repeat: no-repeat;
    z-index: 1;

    padding-bottom: 69px;
  }

  .main-screen__inner-wrapper {
    @include reset-space;
    @include flex-column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 192px;
    margin-bottom: 0;
  }

  .main-screen__text-wrapper {
    z-index: 3;
  }

  .main-screen__text-wrapper h2 {
    font-size: 40px;
    line-height: 47px;

    margin-top: 15px;

    max-width: 277px;
  }

  .main-screen__text-wrapper p {
    font-size: 16px;
    line-height: 25px;

    max-width: 245px;

    margin-bottom: 39px;

    &::before {
      top: 14px;
    }
  }

  .main-screen__img-wrapper {
    order: -1;
  }

  .main-screen__img-wrapper img {
    max-width: 296px;
    top: -71px;
    left: 48px;
    z-index: 2;
  }

  .main-screen__main-btn {
    margin: 0;
    margin-left: 3px;
    padding-left: 33px;
    padding-right: 31px;
    align-self: stretch;
  }

  .main-screen__main-btn span:nth-child(2n) {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .main-screen__main-btn span:nth-child(2n-1) {
    display: none;
  }

  .main-screen__scroll-btn {
    @include empty-rule;
  }
}
