.social {
  @include empty-rule;
}

.social__list {
  @include clear-list;
  @include flex-row;
}

.social__item {
  margin-right: 16px;
}

.social__link {
  color: $social-grey;
  text-decoration: none;
}

.social__icon {
  fill: $social-grey;

  @include active-states;
}

.social__icon--fb {
  @include empty-rule;
}

.social__icon--odno {
  @include empty-rule;
}

.social__icon--vk {
  @include empty-rule;
}

@media (max-width: $tablet-width-only) {
  .social__list {
    margin-top: 2px;
    margin-right: -9px;
  }
}


@media (max-width: $mobile-width-only) {
  .social__list {
    margin-top: 2px;
    margin-right: -15px;
  }
}
