$white: #ffffff;
$blue: #00b2ff;
$black: #000000;
$bg-grey: #c4c4c4;
$bg-grey-light: #e5e5e5;
$light-grey: #f2f2f2;
$border-grey: #ebebeb;
$logo-grey: #788891;
$logo-black: #203c42;
$text-grey: #666666;
$dark-grey: #1b2d37;
$dark-grey-transparent: rgba(#1b2d37, 0.5);
$footer-grey: #fafafa;
$social-grey: #cdcdcd;
$footer-border-grey: rgba(#626962, 0.2);

$mobile-size: 320px;
$tablet-size: 770px;
$desktop-size: 1024px;

$mobile-width: 320px;
$tablet-width: 760px;
$desktop-width: 1440px;

$mobile-width-only: 759px;
$tablet-width-only: 1023px;

$retina-dpi-2x: 144dpi;
$retina-dpi-3x: 216dpi;

$retina-dppx: 1.5dppx;
$retina-dppx-2x: 2dppx;
$retina-dppx-3x: 3dppx;
